<section id="servicios" class="seccion servicios-section">
  <h2>Servicios</h2>
  <div class="servicios-container">
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/7.png" alt="Corte de cabello">
      </div>
      <span>Corte de cabello</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/10.png" alt="Diseños">
      </div>
      <span>Diseños</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/1.png" alt="Ondulación permanente">
      </div>
      <span>Ondulación permanente</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/8.png" alt="Arreglo de Barba">
      </div>
      <span>Arreglo de Barba</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/0.png" alt="Limpieza facial">
      </div>
      <span>Limpieza facial</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/5.png" alt="Depilación facial">
      </div>
      <span>Depilación facial</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/11.png" alt="Camuflaje de canas">
      </div>
      <span>Camuflaje de canas</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/6.png" alt="Colorimetría">
      </div>
      <span>Colorimetría</span>
    </div>
    <div class="servicio-item">
      <div class="icono-circulo">
        <img src="assets/iconos/4.png" alt="Perfilado de cejas">
      </div>
      <span>Perfilado de cejas</span>
    </div>
  </div>
</section>
